.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding:10px;
  justify-content: center;
  grid-template-areas:
  'myArea'
  'mySecondarea';
}
.grid-item {
  background-color: #7A56FF;
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  color: white;
  text-shadow: 3px 2px #2C2E2C;
}
#item1 {
  grid-area: myArea;
  width: 700px;
  height: 100px;
  border-radius: 15px 15px 0px 0px;
  font-family: sans-serif;
}
#item2 {
  grid-area: mySecondarea;
  width: 700px;
  height: 250px;
  border-radius: 0px 0px 15px 15px;
}
.headOne {
  text-align: center;
  font-size: 25px;
}
#imgLuca {
  width: 125px;
  height:125px;
  border: 1px solid black;
  border-radius: 15px;
  float: left;
  position: absolute;
  left: 335px;
  top: 26px;
}
#aboutMe {
  font-size: 20px;
  font-family: monospace;
  position: absolute;
  top: 160px;
}
#aboutInfo {
  font-size: 16px;
  font-family: sans-serif;
  position: absolute;
  top: 200px;
}
#LinkedIn {
  font-size: 20px;
  font-family: monospace;
  position: absolute;
  top: 300px;
}
#Linked {
  font-size: 16px;
  font-family: sans-serif;
  position: absolute;
  top: 360px;
}
a:link, a:visited {
  background-color: #0C29A6;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}
a:hover, a:active {
  background-color: #081D75;
}
#age {
  font-size: 20px;
  font-family: monospace;
  position: absolute;
  right: 360px;
}
#residence {
  font-size: 20px;
  font-family: monospace;
  position: absolute;
  top: 215px;
  right: 300px;
}
#email {
  font-size: 20px;
  font-family: monospace;
  position: absolute;
  top: 250px;
  right: 300px;
}
#phone {
  font-size: 20px;
  font-family: monospace;
  position: absolute;
  top: 285px;
  right: 300px;
}
